<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC
	"-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
	"http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app id="XF">

	<display-name>XF</display-name>
	<description></description>
	
	
	
	<servlet>
		<servlet-name>ServletSearch</servlet-name>
		<servlet-class>com.labolida.servlet.ServletSearch</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>ServletSql</servlet-name>
		<servlet-class>com.labolida.servlet.ServletSql</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.labolida.servlet.UploadServlet</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>ServletSearch</servlet-name>
		<url-pattern>/ServletSearch</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ServletSql</servlet-name>
		<url-pattern>/ServletSql</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>

	
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
